---
import { SITE } from '@/config';
import AstroLogo from './AstroLogo.astro';
import HeaderRight from './HeaderRight.astro';
import { getLangFromUrl, useTranslations, useLocalizedPath } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useLocalizedPath(lang);
---

<header>
  <nav
    class='nav-wrapper mx-auto xl:max-w-7xl w-full lg:max-w-5xl md:max-w-2xl max-w-xl box-border md:px-0 sm:px-3 px-4'
    title={t('site.title')}
  >
    <div class='logo flex'>
      <a href={translatePath('/')} class='logo-image' aria-label={t('site.title')}>
        <AstroLogo size={40} />
      </a>
      <a href={translatePath('/')}>
        <h1 class='text-gray-800 dark:text-gray-200'>{t('site.title')}</h1>
      </a>
    </div>
    <HeaderRight />
  </nav>
</header>

<style>
  header {
    height: var(--theme-navbar-height);
    width: 100%;
    background-color: var(--theme-navbar-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
  }

  .logo {
    display: flex;
    font-size: 32px;
    flex-shrink: 0;
    font-weight: 600;
    line-height: 1;
    gap: 4px;
  }

  .logo a {
    padding: 8px 4px;
    margin: -8px -4px;
    text-decoration: none;
    font-weight: bolder;
    display: block;
    transition: all 200ms ease;
    color: var(--theme-text);
  }

  .logo a:hover,
  .logo a:focus {
    color: var(--theme-accent);
  }

  .logo .logo-image {
    margin-top: -14px;
  }

  .logo h1 {
    font: inherit;
    margin: 0;
    margin-left: -2px;
  }

  .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 36px;
  }

  @media (max-width: 800px) {
    .nav-wrapper {
      margin: 5px 0;
      max-width: 100%;
      width: 100%;
    }
  }

  :root {
    --docsearch-primary-color: var(--theme-accent);
    --docsearch-logo-color: var(--theme-text);
  }

  .search-item {
    display: none;
    position: relative;
    z-index: 10;
    flex-grow: 1;
    padding-right: 11px;
    display: flex;
    max-width: 200px;
  }

  .btn-yellow {
    color: #a67c52 !important;
    font-weight: bold;
  }

  :global(.search-item > *) {
    flex-grow: 1;
  }

  @media (min-width: 800px) {
    .search-item {
      max-width: 400px;
    }
  }
</style>

<style is:global>
  @media (min-width: 1412px) {
    .xl\:max-w-7xl {
      max-width: 1338px;
    }
  }

  @media (min-width: 1080px) .lg\:max-w-5xl {
    max-width: 998px;
  }

  @media (min-width: 768px) .md\:max-w-2xl {
    max-width: 659px;
  }
</style>
